[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,ts}]
charset = utf-8

# 4 space indentation
[*.{js,ts}]
indent_style = space
indent_size = 4

# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 4

# Matches the exact files either package.json, tsconfig.json or .travis.yml
[{package.json,.tsconfig,.travis.yml}]
indent_style = space
indent_size = 4